* {
		box-sizing: border-box;
	}

	a:link {
		color: black;
	}

	a:hover {
		color: white;
	}

	ul {
    	padding: 0px;
    	list-style-type: none;
    	margin: 0px;
	}

	.container {
		width: 1000px;
		background: white;
		margin: 0 auto;
	}

	.heading {
		height: 100px;
		background: beige;
		text-align: center;
		font-size: 20pt;
		text-shadow: 0.1em 0.1em white;
		font-family: "cookie";
		margin-bottom: 10px;

	}

	.navigation {
		height: 50px;
		width: 1000px;
		background: lightblue;
		font-family:sans-serif;
		line-height: 50px;
		text-align: left;
		margin-bottom: 10px;
	}

	.navigation ul li {
		display: inline;
		margin: 20px;
	}

	.navigation ul li a {
		text-decoration: none;
	}

	.content {
		min-height: 600px;
		background: beige;
		width: 666px;
		float: left;
		padding: 0 15px;
		text-align: center;
		font-family: sans-serif;
		margin-bottom: 10px;
	}

	.content-heading {
		font-family:sans-serif;
		min-height: 50px;
		line-height: 50px;
		width: 666px;
		text-align: center;
	}

	.sidebar-heading {
		min-height: 50px;
		width: 334px;
		background: lightgreen;
		float: right;
		text-align: center;
		font-family:sans-serif;
	}

	.sidebar-content {
		width: 334px;
		min-height: 550px;
		background: lightgreen;
		float: right;
		padding: 0 15px;
		text-align: center;
		font-family:sans-serif;
		margin-bottom: 10px;
	}

	.footer {
		clear: both;
		background: lightblue;
		height: 50px;
		text-align: center;
		font-family: sans-serif;
	}

	.heading-child {
		line-height: 100px;
	}

	.sidebar-heading-child {
		line-height: 50px;
	}

	.footer-child {
		line-height: 50px;
	}
